<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyPal - Your Study Companion</title>
    <link rel="stylesheet" href="/static/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center text-center bg-success text-white">
        <h1 class="display-3">Welcome to StudyPal</h1>
        <!-- <p class="lead">Created by <b style="font-weight: 1000px; font-size: 25px;">Ibrahim Rahman</b></p> -->
        <div class="mt-4">
            <a href="/home" class="btn btn-light btn-lg me-3">Login</a>
            <a href="/sign-up" class="btn btn-warning btn-lg">Sign Up</a>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-white border-top">
        <div class="container text-center">
            <span class="text-muted">2025 StudyPal. Created by Ibrahim Rahman.</span>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
